.all_navbar{
  background-color:#1F6251;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap:40%
}
.importBtn{
  margin-left: 2%;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.navbar{
  color: white;
  display: flex;
  gap: 60%;
  margin-top: 1%;
  flex-direction: row;
  justify-content: space-evenly;
}

.component_grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}
.image_item{
  width: 337px;
  height: 245px;
  flex-shrink: 0;
  border-radius: 12px;
}
.grid_item{
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(10 10 10 / 60%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 80%;
  height: 60%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
}
.img_name{
  display: flex;
  flex-direction: column;
}
.img_name text{
  font-style: inherit;
}

.lineChartGroup{
  display: flex;
  flex-direction: column;
  margin-left: 9%;
  align-items: center;
  box-shadow: none;
}